<mat-card class="question-display-card">
  <div class="question-display">
    <span *ngIf="qs.state == 1" (click)="startQuiz()" class="start-button">Start</span>
    <span *ngIf="qs.state == 2" class="question-display-name">{{qs.questions[qs.questionIndex].name}}</span>
    <span *ngIf="qs.state == 2 && qs.settings.kanji" class="question-display-name-kanji">{{qs.questions[qs.questionIndex].kanjiName}}</span>
    <span *ngIf="qs.state == 2" class="question-index">{{qs.questionIndex + 1 + '/' + qs.questions.length}}</span>
    <div *ngIf="qs.state == 2" class="question-reset">
      <button disableRipple mat-icon-button>
        <mat-icon class="question-reset-button" (click)="startQuiz()" matTooltip="Reset" matTooltipPosition="above" matTooltipClass="tooltip-reset">refresh</mat-icon>
      </button>
    </div>
    <div class="question-end-screen" *ngIf="qs.state == 3">
      <span class="question-end-screen-score">{{qs.correctAmount + ' out of ' + qs.questions.length + ' correct (' + ((qs.correctAmount/qs.questions.length * 100) | number : '1.1-1') + '%)'}}</span>
      <button disableRipple mat-icon-button>
        <mat-icon class="question-end-screen-replay" (click)="startQuiz()">refresh</mat-icon>
      </button>
      <div>
        do again
      </div>
    </div>
  </div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
      Settings
      </mat-panel-title>
      <mat-panel-description>
      
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="settings-container">
      <mat-checkbox class="settings-checkbox" [checked]="qs.settings.feedback" (change)="onSettingChange($event)" value="feedback">Feedback</mat-checkbox>
      <mat-checkbox class="settings-checkbox" [checked]="qs.settings.kanji" (change)="onSettingChange($event)" value="kanji">Kanji</mat-checkbox>
      <mat-checkbox class="settings-checkbox" matTooltip="wip" disabled (change)="onSettingChange($event)" value="">Flag</mat-checkbox>
      <mat-checkbox class="settings-checkbox" [checked]="true" matTooltip="wip" disabled (change)="onSettingChange($event)" value="">Borders</mat-checkbox>
      <mat-checkbox class="settings-checkbox" matTooltip="wip" disabled (change)="onSettingChange($event)" value="">Kanji only</mat-checkbox>
      <button (click)="togglePickPanel()" mat-flat-button color="accent">Select</button>
    </div>
    <mat-expansion-panel disabled [class.mat-elevation-z0]="true" hideToggle [expanded]="pickPanelExpanded" class="panel">
      <mat-expansion-panel-header class="pick-panel-header" disableRipple #panelH (click)="panelH._toggle()">
        <mat-panel-title>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
        <mat-card [class.mat-elevation-z0]="true" class="pick-card">
          <div class="pick-top-buttons">
            <button class="pick-top-button" mat-flat-button color="accent" (click)="selectAll()">Select All</button>
            <button class="pick-top-button" mat-flat-button color="accent" (click)="deselectAll()">Deselect All</button>
            <button class="pick-top-button" mat-flat-button color="accent" (click)="selectAllC()">Select All Capitals</button>
            <button class="pick-top-button" mat-flat-button color="accent" (click)="deselectAllC()">Deselect All Capitals</button>
          </div>

          <div class="pick-container">
            <!-- <ng-container *ngFor="let citySvg of citiesSvg; let i = index">
              <mat-checkbox  #sel [value]="citySvg.title" class="pick-checkbox">{{citySvg.capital ? citySvg.title + ' (c)' : citySvg.title}}</mat-checkbox>
            </ng-container> -->
            <ng-container *ngFor="let cityPrefecture of prefectureViewGroup | keyvalue">
              <mat-checkbox class="pick-checkbox">{{"PREF: " + cityPrefecture.key}}</mat-checkbox>

              <ng-container *ngFor="let city of cityPrefecture.value; let i = index">
                <mat-checkbox  #sel [value]="city.name" class="pick-checkbox">{{city.capital ? city.name + ' (c)' : city.name}}</mat-checkbox>
              </ng-container>

            </ng-container>
          </div>
          
        </mat-card> 
    </mat-expansion-panel>
  </mat-expansion-panel>
</mat-card>
