$primary-color: rgb(48, 25, 77);
$primary-color-dark: rgb(29, 15, 46);
$secondary-color: rgb(255, 198, 99);
$secondary-color-dark: rgb(255, 188, 71);
$font-color: rgb(249, 231, 231);

.question-display-card {
  background-color: $primary-color;
    border: 3px solid rgb(100, 82, 255);

}
.question-index {
  position: absolute;
  text-align: right;
  width: 4em;
  top: 1.5em;
  right: 2em;
  height: 1em;
  color: $font-color;
  font-size: 1.5em;
  // border: 3px solid rgb(100, 82, 255);

}
.question-display {
  height: 10em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  // border: 3px solid rgb(255, 133, 111);
}

.question-display-name {
  color: $font-color;
  font-size: 5em;
  text-align: center;
  margin: 0.3em 0em 0.4em 0rem;
  // border: 3px solid rgb(96, 255, 189);
}

.question-display-name-kanji {
  color: $font-color;
  font-size: 3em;
  text-align: center;
  margin: 0.4em 0em 0.3em 0rem;
}

.start-button {
  color: $font-color;
  font-size: 5em;
  text-align: center;
  margin: 1em 0em 1em 0rem;
  // border: 3px solid rgb(96, 255, 189);
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}

.start-button:hover {
  color: $secondary-color;
}

mat-expansion-panel {
  background-color: $primary-color-dark;
  color: $font-color;
}
mat-panel-title {
  color: $font-color;
}

mat-expansion-panel-content {
  background-color: $primary-color-dark !important;
}

.settings-container {
  display: flex;
  justify-content: center;
}

.settings-container > *{
  margin: auto;
}

.question-end-screen {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // border: 3px solid rgb(96, 255, 189);
}
.question-end-screen > div {
  color: $font-color;
  font-size: 1.5em;
  text-align: center;
  margin: 0.65em 0em 0.4em 1em;
}
.question-end-screen-score {
  color: $font-color;
  font-size: 3em;
  text-align: center;
  width: 100%;
  margin: 0.3em 0em 0.4em 0em;
}

.question-end-screen-replay {
  color: $font-color;
  font-size: 3em;
  margin: 0.25em 0em 0.4em 0em;
  transition: color 0.1s ease-in-out;

}
.question-end-screen-replay:hover {
  color: $secondary-color;
}