<mat-card class="question-display-card">
  <div class="question-display">
    <span *ngIf="qs.state == 1" (click)="startQuiz()" class="start-button">Start</span>
    <span *ngIf="qs.state == 2" class="question-display-name">{{qs.questions[qs.questionIndex].name}}</span>
    <span *ngIf="qs.state == 2 && qs.settings.kanji" class="question-display-name-kanji">{{qs.questions[qs.questionIndex].kanjiName}}</span>
    <span *ngIf="qs.state == 2" class="question-index">{{qs.questionIndex + 1 + '/' + qs.questions.length}}</span>
    <div *ngIf="qs.state == 2" class="question-reset">
      <button disableRipple mat-icon-button>
        <mat-icon class="question-reset-button" (click)="endQuiz()" matTooltip="Stop" matTooltipPosition="above" matTooltipClass="tooltip-reset">close</mat-icon>
      </button>
    </div>
    <div class="question-end-screen" *ngIf="qs.state == 3">
      <span class="question-end-screen-score">{{qs.correctAmount + ' out of ' + qs.questions.length + ' correct (' + ((qs.correctAmount/qs.questions.length * 100) | number : '1.1-1') + '%)'}}</span>
      <button disableRipple mat-icon-button>
        <mat-icon class="question-end-screen-replay" (click)="startQuiz()">refresh</mat-icon>
      </button>
      <div>
        do again
      </div>
    </div>
  </div>
  <app-quiz-settings></app-quiz-settings>
</mat-card>
