<mat-toolbar class="toolbar" color="primary">
  <button mat-icon-button class="example-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <button (click)="stateSwitch(stateEnum.VIEW)" mat-icon-button class="example-icon favorite-icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button (click)="stateSwitch(stateEnum.QUIZ)" mat-icon-button class="example-icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>


<div class="app-container">
  <app-menu></app-menu>
  <app-map [state]="state"></app-map>
  <app-legend *ngIf="state == 1"></app-legend>
  <app-quiz *ngIf="state == 2"></app-quiz>

</div>
