.app-container {
  display: flex;
  position: relative;
  justify-content: flex-start;

}
.app-container > * {
  margin: 0em 5em 0em 5em;
}
.toolbar {
  background-color:transparent;
  padding: 2em;
  color: #ffc663;
} 

.toolbar > * {
  margin: 0.5em;
} 