$default-fill: rgb(255, 198, 99);
$primary-color: rgb(48, 26, 75);
$primary-color-dark: rgb(29, 15, 46);
$secondary-color: rgb(255, 198, 99);
$active-fill: rgb(226, 121, 130);
$font-color: rgb(249, 231, 231);

.title {
  position: relative;
  left: -1.1em;
  font-size: 1.8em;
}

.app-container {
  display: flex;
  position: relative;
  justify-content: flex-start;
}
.app-container > * {
  margin: 0em 3.5em 0em 3.5em;
}
.toolbar {
  background-color:transparent;
  padding: 2em;
  color: #ffc663;
} 

.menu {
  position: relative;
  // border: 3px solid orange;
  left: -2em;
}
.toolbar > * {
  margin: 0.5em 1em 0.5em 1em;
} 
.toolbar-spacer {
  flex: 1 1 auto;
}

.selected-state {
  color: rgb(249, 231, 231);
}
mat-icon {
  font-size: 1.8em;
}

.toolbar-button-disabled {
  cursor: default;
}

::ng-deep .toolbar-tooltip {
  background-color: $secondary-color !important;
  color: $primary-color !important;
}