.app-container {
  display: flex;
  justify-content: flex-end;
}
.app-container > * {
  margin: auto;
}
.toolbar {
  background-color:transparent;
  padding: 2em;
  color: #ffc663;
} 

.toolbar > * {
  margin: 0.5em;
} 