.score-container {
  border: 3px solid red;
  max-height: 39em;
  overflow-x: auto;
}

.score-entry {
  color: rgb(92, 171, 255)
}

.scoreEntryCorrectRect {
  fill: greenyellow;
}

.scoreEntryFalseRect {
  fill: red;
}

// .scoreEntryCorrect {
//   color: greenyellow;
// }

// .scoreEntryFalse {
//   color: red;
// }