$primary-color: rgb(48, 25, 77);
$primary-color-dark: rgb(29, 15, 46);
$secondary-color: rgb(255, 198, 99);
$secondary-color-dark: rgb(255, 188, 71);
$font-color: rgb(249, 231, 231);
$error-color: rgb(215, 71, 83);
$correct-color: rgb(136, 255, 130);

.score-container-card {
  margin-top: 1.5em;
  background-color: $primary-color-dark;
}

.score-container {
  max-height: 35em;
  width: 100%;
  overflow-y: auto;
  padding-bottom: 1px;
  // border: 2px orange solid;
}

.score-list {
  display: block;
  // border: 2px red solid;
}

.score-entry {
  color: $font-color;
  width: 40%;
  display: inline-block;
  // border: 2px rgb(185, 99, 211) solid;
}

.score-entry-answer{
  color: rgb(177, 177, 177);
  // font-size: 0.7em;
}

.score-entry-rect {
  width: 0.7em;
  height: 0.7em;
  margin: 0em 0.3em 0em 0.3em;
}
.score-entry-correct-rect {
  fill: $correct-color;
}

.score-entry-false-rect {
  fill: $error-color;
}

// .scoreEntryCorrect {
//   color: greenyellow;
// }

// .scoreEntryFalse {
//   color: red;
// }

.mat-card .mat-divider-horizontal {
  position: relative !important;
  left: 0;
}