$default-fill: rgb(66, 158, 255);
$active-fill: rgb(135, 193, 255);

.map {
  fill: $default-fill;
  // transform: scale(1); // 75% of original size
}

.map path:hover {
  fill: $active-fill;
  cursor: pointer;
}


.map-container {
  background-color: rgb(190, 190, 190);
  margin: 0 auto;
  position: relative;
  border: 3px solid rgb(93, 255, 78);
  width: 800px;
  right: 100px;
}

