.map ::ng-deep svg {
  fill: rgb(66, 158, 255);
  // transform: scale(1); // 75% of original size
}

.map ::ng-deep svg path:hover {
  fill: rgb(135, 193, 255);
  cursor: pointer;
}


.map-container {
  background-color: rgb(190, 190, 190);
  margin: 0 auto;
  position:relative;
  width: 800px;
  right:100px;
}

