$default-fill: rgb(255, 198, 99);
$primary-color: rgb(48, 26, 75);
$primary-color-dark: rgb(29, 15, 46);
$active-fill: rgb(226, 121, 130);
$font-color: rgb(249, 231, 231);

.map {
  fill: $default-fill;
}

.map-pref path:hover {
  fill: $active-fill;
  cursor: pointer;
}

.map-container {
  background-color: rgb(39, 39, 39);
  margin: 0 auto;
  position: relative;
  width: 800px;
  height: 800px;
  right: 100px;
  overflow: hidden;
  border-radius: 0.5em;
}


.map-button {
  fill: rgb(109, 109, 109); 
  margin: 0.5em;
}

.map-button-disabled {
  background-color: rgb(29, 15, 46) !important; 
  margin: 0.5em;
}


.map-button-container {
  position: absolute;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  z-index: 999;
}

.active-prefecture {
  fill: $active-fill;

}

// .map-drag {
//   transform-origin: center;
// }

.circle {
  fill: rgb(165, 1, 4);
  stroke: rgb(46, 47, 47);
}

.circle:hover {
  cursor: pointer;
}

::ng-deep .path-tooltip {
  background-color: $font-color !important;
  color: rgb(226, 121, 130) !important;
}

::ng-deep .circle-tooltip {
  background-color: rgb(46, 47, 47) !important;
  color: rgb(226, 121, 130) !important;
}