<div class="map-container">
  <!-- <div class="map" (mouseover)="onHover($event)" (mouseout)="onLeave($event)" (click)="onClick($event)" inlineSVG={{map}}></div> -->
<!-- <?xml version="1.0" encoding="UTF-8" standalone="no"?> -->
<!-- Created for MapSVG plugin: http://mapsvg.com -->
<!-- <svg:g>
  <circle class="map-buttons" cx="-40" cy="40" r="15">
  </circle> -->
  <div class="map-button-container">
    <button class="map-button" (click)="onReset()" [class.mat-elevation-z0]="true" mat-fab color="primary" disableRipple>
      <mat-icon>refresh</mat-icon>
    </button>
    <button class="map-button" (click)="onZoomIn()" [disabled]="zoomLevel > 17" [ngClass]="{'map-button-disabled': zoomLevel > 17}" [class.mat-elevation-z0]="true" mat-fab color="primary" disableRipple>
      <mat-icon>add</mat-icon>
    </button>
    <button class="map-button" (click)="onZoomOut()" [disabled]="zoomLevel == 1" [ngClass]="{'map-button-disabled': zoomLevel == 1}" [class.mat-elevation-z0]="true" mat-fab color="primary" disableRipple>
      <mat-icon>remove</mat-icon>
    </button>
  </div>
  <mat-icon [hidden]="ms.mode.value != modeEnum.CIT" class="info-info">info</mat-icon>
  <mat-card id="info-info" [class.mat-elevation-z5]="true">
    <div class="info-with-rect">
      <svg class="info-rect">
        <rect width="1em" height="1em" rx="1" class="sward-rect">
        </rect>
      </svg>
      <span class="info-text">special wards</span>
    </div>

    <div class="info-with-rect">
      <svg class="info-rect">
        <rect width="1em" height="1em" rx="1" class="desig-rect">
        </rect>
      </svg>
      <span class="info-text">designated cities</span>
    </div>
    
    <div class="info-with-rect">
      <svg class="info-rect">
        <rect width="1em" height="1em" rx="1" class="core-rect">
        </rect>
      </svg>
      <span class="info-text">core cities</span>
    </div>

    <div class="info-with-rect">
      <svg class="info-rect">
        <rect width="1em" height="1em" rx="1" class="special-rect">
        </rect>
      </svg>
      <span class="info-text">special cities</span>
    </div>

    <div class="info-with-rect">
      <svg class="info-rect">
        <rect width="1em" height="1em" rx="1" class="city-rect">
        </rect>
      </svg>
      <span class="info-text">cities</span>
    </div>
  </mat-card>
    <!-- </svg:g> -->
<div class="map-drag" mapDrag (wheel)="onwheel($event)">
  <svg
  xmlns:mapsvg="http://mapsvg.com"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="40 -10 400 550"
  width="800"
  height="800"
  preserveAspectRatio="xMidYMid meet"
  class="map"
  [ngStyle]="mapStyle"
  [ngClass]="{'map-pref': ms.mode.value == modeEnum.PREF, 'map-cit': ms.mode.value == modeEnum.CIT}"
  (click)="debugger($event)"
  >

  <!-- prefectures -->
  <g *ngIf="ms.mode.value == modeEnum.PREF">
    <path *ngFor="let prefSvg of prefecturesSvg" [attr.d]="prefSvg.d" [attr.title]="prefSvg.title" 
    [ngClass]="{'active-prefecture': ms.activePrefecture?.name == prefSvg.title && state == stateEnum.VIEW}"
    [ngStyle]="mapPaths"
    [matTooltip]="prefSvg.title" matTooltipPosition="before" matTooltipClass="path-tooltip" 
    [matTooltipDisabled]="(mapDrag ? mapDrag.dirty : false) || state == stateEnum.QUIZ"
    (click)="onClick($event)"
    ></path>
  </g>

  <!-- cities -->
  <g *ngIf="ms.mode.value == modeEnum.CIT">
    <path *ngFor="let prefSvg of prefecturesSvg" [attr.d]="prefSvg.d" [attr.title]="prefSvg.title" 
    [ngStyle]="mapPaths"
    ></path>

    <g *ngFor="let citySvg of citiesSvg">
      <circle *ngIf="(state == stateEnum.VIEW || (state == stateEnum.QUIZ && qs.questionSelection.includes(citySvg.title))) && !ms.activeCity"  
      [ngClass]="{'desig-circle': citySvg.type == 1, 
      'core-circle': citySvg.type == 2, 
      'special-circle': citySvg.type == 3, 
      'city-circle': citySvg.type == 4, 
      'sward-circle': citySvg.type == 5}" 
      [ngStyle]="cityCircles" 
      [attr.title]="citySvg.title" [attr.cx]= "citySvg.cx" [attr.cy]="citySvg.cy" 
      [attr.r]="0.5 + 1 / (zoomLevel / 2)" 
      [matTooltip]="citySvg.title" matTooltipPosition="before" 
      [matTooltipClass]="{'desig-circle-tooltip': citySvg.type == 1, 
      'core-circle-tooltip': citySvg.type == 2, 
      'special-circle-tooltip': citySvg.type == 3, 
      'city-circle-tooltip': citySvg.type == 4, 
      'sward-circle-tooltip': citySvg.type == 5}"
      [matTooltipDisabled]="(mapDrag ? mapDrag.dirty : false) || (state == stateEnum.QUIZ && qs.state == gameStateEnum.OCC)"
      (click)="onClick($event)"
      ></circle>
    </g>

    <circle *ngIf="ms.activeCity" 
    [ngClass]="{'desig-circle': ms.activeCity.type == 1, 
    'core-circle': ms.activeCity.type == 2, 
    'special-circle': ms.activeCity.type == 3, 
    'city-circle': ms.activeCity.type == 4, 
    'sward-circle': ms.activeCity.type == 5}" 
    [ngStyle]="cityCircles" 
    [attr.title]="ms.activeCity.title" [attr.cx]= "ms.activeCity.cx" [attr.cy]="ms.activeCity.cy" 
    [attr.r]="0.5 + 1 / (zoomLevel / 2)"
    [matTooltip]="ms.activeCity.title" matTooltipPosition="before" 
    [matTooltipClass]="{'desig-circle-tooltip': ms.activeCity.type == 1, 
    'core-circle-tooltip': ms.activeCity.type == 2, 
    'special-circle-tooltip': ms.activeCity.type == 3, 
    'city-circle-tooltip': ms.activeCity.type == 4, 
    'sward-circle-tooltip': ms.activeCity.type == 5}"
    [matTooltipDisabled]="(mapDrag ? mapDrag.dirty : false) || state == stateEnum.QUIZ"
    (click)="onClick($event)"
    ></circle>
  </g>


  <!-- regions -->
  <!-- <g *ngIf="ms.mode.value == modeEnum.REG" 
  transform="translate(87.402329,-95.007708)">
    <g transform="matrix(0.65068506,0,0,0.65068506,-49.459746,-158.34468)">
      <path *ngFor="let prefSvg of regionsSvg" [attr.d]="prefSvg.d" [attr.title]="prefSvg.title" 
      [ngClass]="{'active-prefecture': activeReg == prefSvg.title && state == stateEnum.VIEW}"
      [ngStyle]="mapPaths"
      [matTooltip]="prefSvg.title" matTooltipPosition="before" matTooltipClass="path-tooltip" [matTooltipDisabled]="(mapDrag ? mapDrag.dirty : false) || state == stateEnum.QUIZ"
      (click)="onClick($event)"
      ></path>
    </g>
  </g> -->
  
</svg>
</div>
<!-- <object class="map" type="image/svg+xml" data="../../assets/japan.svg"></object> -->
</div>
