<div class="map-container">
  <!-- <div class="map" (mouseover)="onHover($event)" (mouseout)="onLeave($event)" (click)="onClick($event)" inlineSVG={{map}}></div> -->
<!-- <?xml version="1.0" encoding="UTF-8" standalone="no"?> -->
<!-- Created for MapSVG plugin: http://mapsvg.com -->
<!-- <svg:g>
  <circle class="map-buttons" cx="-40" cy="40" r="15">
  </circle> -->
  <div class="map-button-container">
    <button class="map-button" (click)="onReset()" [class.mat-elevation-z0]="true" mat-fab color="primary" disableRipple>
      <mat-icon>refresh</mat-icon>
    </button>
    <button class="map-button" (click)="onZoomIn()" [disabled]="zoomLevel > 17" [ngClass]="{'map-button-disabled': zoomLevel > 17}" [class.mat-elevation-z0]="true" mat-fab color="primary" disableRipple>
      <mat-icon>add</mat-icon>
    </button>
    <button class="map-button" (click)="onZoomOut()" [disabled]="zoomLevel == 1" [ngClass]="{'map-button-disabled': zoomLevel == 1}" [class.mat-elevation-z0]="true" mat-fab color="primary" disableRipple>
      <mat-icon>remove</mat-icon>
    </button>
  </div>

    <!-- </svg:g> -->
<div class="map-drag" mapDrag (wheel)="onwheel($event)">
  <svg
  xmlns:mapsvg="http://mapsvg.com"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns="http://www.w3.org/2000/svg"
  mapsvg:geoViewBox="123.658963 45.523885 145.820743 24.217586"
  viewBox="40 -10 400 550"
  width="800"
  height="800"
  preserveAspectRatio="xMidYMid meet"
  class="map"
  [ngStyle]="mapStyle"
  (click)="onClick($event)"
  >

  <g *ngIf="mapService.mode == modeEnum.PREF">
    <path *ngFor="let prefSvg of prefecturesSvg" [attr.d]="prefSvg.d" [attr.title]="prefSvg.title" 
    [ngClass]="{'active-prefecture': activePrefecture == prefSvg.title && state == stateEnum.VIEW}"
    [ngStyle]="mapPaths"
    [matTooltip]="prefSvg.title" matTooltipPosition="right" matTooltipClass="path-tooltip" 
    [matTooltipDisabled]="(mapDrag ? mapDrag.dirty : false) || state == stateEnum.QUIZ"></path>
  </g>

  <g *ngIf="mapService.mode == modeEnum.REG" 
  transform="translate(87.402329,-95.007708)">
    <g transform="matrix(0.65068506,0,0,0.65068506,-49.459746,-158.34468)">
      <path *ngFor="let prefSvg of regionsSvg" [attr.d]="prefSvg.d" [attr.title]="prefSvg.title" 
      [ngClass]="{'active-prefecture': activePrefecture == prefSvg.title && state == stateEnum.VIEW}"
      [ngStyle]="mapPaths"
      [matTooltip]="prefSvg.title" matTooltipPosition="right" matTooltipClass="path-tooltip" [matTooltipDisabled]="(mapDrag ? mapDrag.dirty : false) || state == stateEnum.QUIZ">
      </path>
    </g>
  </g>
</svg>
</div>
<!-- <object class="map" type="image/svg+xml" data="../../assets/japan.svg"></object> -->
</div>
