<!-- <div class="legend-container">
  <mat-list-item
    class="legend-prefecture"
    [ngStyle]="{
      color: prefecture.hover ? prefecture.hoverColor : prefecture.defaultColor
    }"
    *ngFor="let prefecture of prefectures"
  >
    <span
      class="{{ 'legend-' + prefecture.name }}"
      (mouseover)="this.mapService.prefectureHover(prefecture.name)"
      (mouseout)="this.mapService.prefectureLeave()"
    >
      {{ prefecture.name }}
    </span>
    <mat-divider></mat-divider>
  </mat-list-item>
</div> -->

<mat-card *ngIf="mapService.mode.value == modeEnum.PREF" class="info-card">
  <div class="info-container"> 
    <mat-card class="info-header-card">
      <div *ngIf="mapService.activePrefecture" class="info-header-container">
        <img class="area-flag" src="{{'../../assets/Flag_of_' + toStandardLatin(mapService.activePrefecture.name) + '_Prefecture.svg'}}"/>
        <div class="area-names">
          <span class="area-name">{{mapService.activePrefecture?.name}}</span>
          <span class="area-name-kanji">{{mapService.activePrefecture?.kanjiName}}</span>
        </div>
      </div>
      <div *ngIf="!mapService.activePrefecture" class="info-header-container">
        <div class="info-header-no-selection">
          no prefecture selected
        </div>
      </div>
    </mat-card>
    
    <div *ngIf="mapService.activePrefectureData" class="general-information-container">
      <div class="general-information-left">
        <mat-list>
          <mat-list-item>capital</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>region</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>island</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>area</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>population</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>prefecture flower</mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </div>
      <div class="general-information-right">
        <mat-list>
          <mat-list-item>{{mapService.activePrefectureData?.capital}}</mat-list-item>
          <mat-list-item>{{mapService.activePrefectureData?.region}}</mat-list-item>
          <mat-list-item>{{mapService.activePrefectureData?.island}}</mat-list-item>
          <mat-list-item [matTooltip]="formatMI(mapService.activePrefectureData?.area) + ' mi&#178;'" matTooltipPosition="left">{{formatKM(mapService.activePrefectureData?.area) + ' km&#178;'}}</mat-list-item>
          <mat-list-item>{{formatPop(mapService.activePrefectureData?.population)}}</mat-list-item>
          <mat-list-item>{{mapService.activePrefectureData?.flower}}</mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</mat-card>

<mat-card *ngIf="mapService.mode.value == modeEnum.CIT" class="info-card">
  <div class="info-container"> 
    <mat-card class="info-header-card">
      <div *ngIf="mapService.activeCity" class="info-header-container">
        <!-- <img class="area-flag" src="{{'../../assets/Flag_of_' + toStandardLatin(mapService.activePrefecture.name) + '_Prefecture.svg'}}"/> -->
        <div class="area-names">
          <span class="area-name">{{mapService.activeCity?.name}}</span>
          <span class="area-name-kanji">{{mapService.activeCity?.kanjiName}}</span>
        </div>
      </div>
      <div *ngIf="!mapService.activeCity" class="info-header-container">
        <div class="info-header-no-selection">
          no city selected
        </div>
      </div>
    </mat-card>
  </div>
</mat-card>