$primary-color: rgb(48, 25, 77);
$primary-color-dark: rgb(29, 15, 46);
$secondary-color: rgb(255, 198, 99);
$secondary-color-dark: rgb(255, 188, 71);
$font-color: rgb(249, 231, 231);

.settings-panel-description {
  position: relative !important;
  margin-left: 7em;
}

mat-expansion-panel {
  background-color: $primary-color-dark;
  color: $font-color;
  -ms-user-select: none;
  user-select: none;
}
mat-panel-title {
  color: $font-color;
}

mat-expansion-panel-content {
  background-color: $primary-color-dark !important;
}

.settings-container {
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.settings-container > *{
  z-index: 5;
  margin: auto;
}

::ng-deep .tooltip-reset {
  background: $primary-color-dark;
  color: $font-color !important;
  font-size: 12px;
}

.panel {
  // border: 2px solid blanchedalmond;
  z-index: 0;
  margin-left: -2em;
  margin-right: -2em;
  // z-index: -9999;
}

.pick-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(44, 44, 44);
  // border: 2px solid rgb(80, 255, 80);
  height: 30em;
  max-height: 30em;
  margin-bottom: -1em;
  margin-top: 1em;
  > * {
    padding-left: 1em;
    font-size: .8em;
  }
}
.pick-container {
  position: relative;
  top: 1em;
  // border: 2px solid green;
  width: inherit;
  max-width: inherit;
  margin-bottom: -1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // max-height: 36em;
  align-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  > * {
    max-width: 20%;
    overflow: hidden;
  }
}

.pick-top-buttons {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  // top: -1em;
  // border: 2px solid orangered;
  > * {
    margin: 0.6em;
    font-size: 1em;
  }
}

.pick-checkbox {
  // border: 3px solid red;
  display: inline-block;
  padding-right: 2em;
}
.pick-checkbox ::ng-deep .mat-checkbox-frame {
  border-width: 1px;
  transform: scale(0.6) !important;
}
.pick-checkbox ::ng-deep .mat-checkbox-background {
  transform: scale(0.6) !important;
}
.pick-checkbox ::ng-deep .mat-checkbox-ripple {
  transform: scale(0.6) !important;
  display: none;
}
.pick-panel-header {
  display: none;
}
.pick-checkbox-parent {
  display: inline-block;
  padding-right: 2em;
  color: $secondary-color;
}
.pick-checkbox-filler{
  position: relative;
  z-index: -999;
}

::ng-deep .divider {
  max-width: 16% !important;
}

::ng-deep .divider-reg {
  max-width: 16% !important;
}

.swap-button {
  width: 8em;
}

.loop-icon{
  font-size: 1.7em;
  margin-left: -0.4em;
  margin-top: 0.25em;
}
.select-arrow-icon {
  font-size: 1.7em;
  margin-left: -0.5em;
  margin-right: -0.1em;
}