

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.6em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.2em; left: 1.2em !important}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: rgb(255, 198, 99) !important;
 }



::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(255, 198, 99);
}
