$primary-color: rgb(48, 25, 77);
$primary-color-dark: rgb(29, 15, 46);
$font-color: rgb(249, 231, 231);

.quiz-container {
  // border: 3px solid rgb(93, 255, 78);
  width: 50em;
  margin-left: -10em;
  display: flex;
  flex-flow: column;
  height: 800px;
  max-height: 800px;
}
